<br /><br /><br />

<table
  <tr>
    <td>
      <a href="/admin/view_repo">
        <div id="blue-box-solid">
          View Repository
        </div>
      </a>
    </td>
      <a href="/">
        <div id="green-box-solid">
          Select Labs
        </div>
      </a>
      <a href="/manage">
        <div id="red-box-solid">
          Manage Repository
        </div>
      </a>