a:link {color: #39F; text-decoration: underline; }
a:active {color: #0000ff; text-decoration: underline; }
a:visited {color: #CCC; text-decoration: underline; }
a:hover {color: #ff0000; text-decoration: none; }

body
{
	background-color: #C0C0C0;
}

#top
{
	left-margin: 1em;
	right-margin: 1em;
	padding: .5em;
	background-color: #162EAE;
	border-bottom: 1px solid gray;
}

#top_heading_text
{
	position: absolute;
	top: 1em;
	right: 1em;
	float: right;
	text-align: right;
}

#login-area
{
	position: absolute;
	top: 11em;
	left: 1em;
	text-align: center;
	float: middle;
	background-color: #FFC840;
	width: 30%;
	border: 5px solid #FFB600;
}

#notification-area
{
	border: 5px solid green;
}

#footer
{
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 99%;
	clear: both;
	color: white;
	background-color: #071871;
	border-top: 1px solid gray;
	text-align: center;
}

#blue-box-solid
{
	border: 3px solid blue;
	position: absolute;
	left: 20em;
	float: center;
	padding: 1em;
	color: white;
}

#blue-box-dashed
{
	border: 3px dashed blue;
	position: absolute;
	left: 30%;
}

#green-box-solid
{
	border: 3px solid green;
	position: absolute;
	left: 35em;
	float: center;
	padding: 1em;
	color: white;
}

#red-box-solid
{
	border: 3px solid red;
	position: absolute;
	left: 50em;
	float: center;
	padding: 1em;
	color: white;
}
.editable{
     color: #000;
     background-color: #ffffd3;
}